
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    <span data-feather="home"></span>
                    監控面板
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/inventory_schedule">
                    <span data-feather="file"></span>
                    素子一零件庫存明細表
                </a>
            </li>

           
                <% for(let i=0;i<slidebar_part.length;i++){ %>
                
                <h6 class="active sidebar-heading justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span><%= slidebar_part[i] %></span>
                    <a class=" align-items-center text-muted" href="#homeSubmenu<%= i %>" data-toggle="collapse" aria-expanded="false" class="collapsed">
                        
                        <span data-feather="plus-circle" style="float:right;"></span>
                    </a>
                    <ul class="list-unstyled collapse" id="homeSubmenu<%= i %>" >
                        <% if(slidebar_name[i]!==undefined){ %>

                            <% for(let z=0;z<slidebar_name[i].length;z++){ %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/part/<%= i+1 %>/suzi/<%= slidebar_name[i][z] %>">
                                        <span data-feather="bar-chart-2"></span>
                                        <%= slidebar_name[i][z] %>
                                    </a>
                                </li>
                            <% } %>

                        <% } %>
                    </ul>
                </h6>
                <% } %>
            
           
           
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/upload">
                    <span data-feather="file-text"></span>
                    檔案上傳
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/csv_file">
                    <span data-feather="file-text"></span>
                    觀看檔案目錄
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/insert_product">
                    <span data-feather="file-text"></span>
                    資料領取貨品
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Year-end sale
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

